body {background-color: #f0e68c;
    font-family:Arial, Helvetica, Helvetica, sans-serif;}
p {color: #fff;}
p.normal{font-style:normal;}
p.italic{font-style:italic;}
p.oblique{font-style:oblique;}
h1{font-size: 24px;}
p{font-size: 14px;}
